td
{
    text-align: center;
}

table
{
    border-collapse: collapse;
}

.ok
{
    background-color: #aaffaa;
}

.fail
{
    background-color: #ffaaaa;
}

.disabled
{
    background-image: url(/ejudge/hatching.png);
    background-repeat: repeat;
}

.sum
{
    font-weight: bold;
}

td.sum
{
    border: 2px solid black;
}
