td
{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

table
{
    border-collapse: collapse;
}

.ok
{
    background-color: #aaffaa;
}

.fail
{
    background-color: #ffaaaa;
}

.disabled
{
    background-image: url(/ejcompstand/hatching.png);
    background-repeat: repeat;
}

td.opened_down
{
    border-bottom: 0px;
}

td.opened_up
{
    border-top: 0px;
}

.sum
{
    font-weight: bold;
}

td.sum
{
    border: 2px solid black;
}
